
Uml/.vs/Uml/v15/Server/sqlite3/db.lock
Uml/.vs/Uml/v15/Server/sqlite3/storage.ide
*.ide-wal
*.ide-shm
Uml/Uml2/obj/Debug/Uml2.csproj.FileListAbsolute.txt
Uml/Uml2/obj/Debug/Uml2.csproj.FileListAbsolute.txt
*.cache
*.pdb
*.exe
Uml/Uml2/obj/Debug/Uml2.csproj.FileListAbsolute.txt
Uml/Uml2/bin/Debug/Uml2.exe.config
Uml/.vs/Uml/v15/.suo
Uml/Uml2/obj/Debug/Uml2.csproj.FileListAbsolute.txt
Uml/Uml2/obj/Debug/Uml2.csproj.FileListAbsolute.txt
Uml/Uml2/obj/Debug/Uml2.csproj.CoreCompileInputs.cache
